<h2>📝 Latest blog posts</h2>
<ul style="list-style: none; padding: 0;">
  {{ $pages := where site.AllPages "Kind" "page" }}
  {{ $blogPages := where $pages "Section" "blog" }}
  {{ $sorted := sort $blogPages "Date" "desc" }}
  {{ range first 5 $sorted }}
    {{ $tags := .Params.tags }}
    {{ $badges := slice }}
    {{ if in $tags "ita" }}
      {{ $badges = $badges | append "ITA" }}
    {{ end }}
    {{ if in $tags "eng" }}
      {{ $badges = $badges | append "ENG" }}
    {{ end }}
{{ partial "article-list/default" . }}
  {{ end }}
</ul>
